<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= favicon_link_tag 'favicons/favicon.ico'%>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body>

  <%= video_tag('https://uceed02285d2304fdd5005f652e6.dl.dropboxusercontent.com/cd/0/inline/BO-OdItA4UilV1K4HEhBPfOTVE6-FhAjXkwxtNjcOz0Lx0DQJlKtW4HDsbGpPwCOyQYvJt0a4_DOJrAcFtLVABlsVD_LPK8fiVDTLGd3-ySBwrmhuLuZ3bYNDTWRq5l1G9g2EX-ItYoirK9Jy6qvXEVs/file#', 
  id: 'background', 
  autoplay: true,
  loop: true,
  muted: true,
  poster: 'home_bg.png'
  ) %>


    <% # Default flash messages for devise %>
    <main role="main" class="inner cover">
      <div class="cover-container d-flex h-100 p-3 mz-60 flex-column">
        <%= render "shared/application_nav" %>
        <%= yield %>
        <%= render "shared/application_footer" %>
      </div>
    </main>
  </body>
</html>
